/* --- Fonts --  */
h2{
    color: var(--accent-color);
}

/* --- Welcome image --  */

@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.welcome-qotd html, .welcome-qotd body {
	height: 100%;
    margin: 0;
}

.welcome-qotd {
	font-family: 'Special Elite', cursive;
	/* background: #fffdf5; */
	color: #3f3f5a;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.welcome-qotd blockquote {
    border-left: none;
	font-weight: 100;
	font-size: 2rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}

.welcome-qotd blockquote:before,
.welcome-qotd blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

 .welcome-qotd blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
}

.welcome-qotd blockquote:after {
	content: '”';
	right: -5rem;
	bottom: 1rem;
}

.welcome-qotd cite {
	line-height: 3;
	text-align: left;
}

/* --- Desktop Quote Cards --- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn:ital,wght@0,600;1,500&display=swap');

:root {
	--type-body: Open Sans, Helvetica, Arial, sans-serif;
	--type-quote: Vollkorn;
	--quote-image-width: 140px;
	--border-rad: 7px;
	--accent-color: #7986cb;
    --quote-bg: hsl(0 0% 97%);
}


.article,
.article::before,
.article::after {
	box-sizing: border-box;
}

.article {
	max-width: 900px;
	margin: auto;
}


.article blockquote {
	position: relative;
	margin: 40px 0;
	padding: 1.6em 2.4em .7em calc(1.4em + var(--quote-image-width));
	font: italic 1.2rem var(--type-quote);
	background: var(--quote-bg) no-repeat left / var(--quote-image-width);
	border-radius: var(--border-rad);
	border: 2px solid white;
	box-shadow: 2px 2px 4px hsl(0 0% 0% / 20%);
	text-indent: 1.6em;
}

@media (min-width: 768px) {
	.article blockquote {
		margin: 40px 60px;
	}
}

.article blockquote::before {
	content: "";
	pointer-events: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: var(--border-rad);
	box-shadow:
		inset -2px -2px 1px hsl(0 0% 100%),
		inset 2px 2px 4px hsl(0 0% 0% / 20%);
}

.article blockquote::after {
	content: "❝";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: -2px;
	transform: translate(-50%, -50%);
	width: 1.3em;
	height: 1.3em;
	background: white;
	box-shadow: 0 4px 5px -1px hsla(0 0% 0% / 20%);
	border-radius: 999px;
	display: grid;
	place-content: center;
	padding-top: .5em;
	color: var(--accent-color);
	font-size: 36px;
	font-style: normal;
	text-indent: 0;
}

.blockquote-author-image {
	position: absolute;
	left: 0;
	top: 0;
	width: var(--quote-image-width);
	height: 100%;
	opacity: 0.75;
	background: var(--accent-color) var(--image) no-repeat center / cover;
	background-blend-mode: hard-light;
	border-top-left-radius: var(--border-rad);
	border-bottom-left-radius: var(--border-rad);
}

.article cite {
	display: block;
	margin-top: 30px;
	text-indent: 0;
	text-align: center;
	font: bold .9rem var(--type-body);
	text-transform: uppercase;
	color: hsl(0 0% 20%);
}

@media (min-width: 768px) {
	.article cite {
		margin-left: calc(1rem - var(--quote-image-width));
	}
}

/* --- Mobile Quote Cards --- */
.animated-border-quote {
  display:inline-block;
  margin:1em;
  max-width:20em;
  overflow:hidden;}
  .animated-border-quote blockquote {
    background-color:#fff;
    border: solid 2px #757575;
    display: inline-block;
    margin: 0;
    padding: 1em;
    position: relative;
    &:before {
      animation:clockwise 30s infinite linear;
      background-color: #fff;
      bottom:10%;
      content: "";
      left: 0;
      opacity:.5;
      position: absolute;
      right: 0;
      top:10%;}

    &:after {
      animation:counter 30s infinite linear;
      background-color: $bg;
      bottom:10%;
      content: "";
      left: 0;
      opacity:.5;
      position: absolute;
      right: 0;
      top:10%;
    }}
    .animated-border-quote cite {
      display: block;
      font-style: italic;
      text-align: right;
      &:before {
        content: "- ";
      }
    
     > * {
      position: relative;
      z-index: 1;
    }
  }
