/* --- Quote Cards --- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn:ital,wght@0,600;1,500&display=swap');

:root {
	--type-body: Open Sans, Helvetica, Arial, sans-serif;
	--type-quote: Vollkorn;
	--quote-image-width: 140px;
	--border-rad: 7px;
	--accent-color: hsl(322deg 85% 65%);
	--quote-bg: hsl(0 0% 97%);
}


*,
*::before,
*::after {
	box-sizing: border-box;
}

.article {
	max-width: 900px;
	margin: auto;
}


blockquote {
	position: relative;
	margin: 40px 0;
	padding: 1.6em 2.4em .7em calc(1.4em + var(--quote-image-width));
	font: italic 1.2rem var(--type-quote);
	background: var(--quote-bg) no-repeat left / var(--quote-image-width);
	border-radius: var(--border-rad);
	border: 2px solid white;
	box-shadow: 2px 2px 4px hsl(0 0% 0% / 20%);
	text-indent: 1.6em;
}

@media (min-width: 768px) {
	blockquote {
		margin: 40px 60px;
	}
}

blockquote::before {
	content: "";
	pointer-events: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: var(--border-rad);
	box-shadow:
		inset -2px -2px 1px hsl(0 0% 100%),
		inset 2px 2px 4px hsl(0 0% 0% / 20%);
}

blockquote::after {
	content: "❝";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: -2px;
	transform: translate(-50%, -50%);
	width: 1.3em;
	height: 1.3em;
	background: white;
	box-shadow: 0 4px 5px -1px hsla(0 0% 0% / 20%);
	border-radius: 999px;
	display: grid;
	place-content: center;
	padding-top: .5em;
	color: var(--accent-color);
	font-size: 36px;
	font-style: normal;
	text-indent: 0;
}

.blockquote-author-image {
	position: absolute;
	left: 0;
	top: 0;
	width: var(--quote-image-width);
	height: 100%;
	opacity: 0.75;
	background: var(--accent-color) var(--image) no-repeat center / cover;
	background-blend-mode: hard-light;
	border-top-left-radius: var(--border-rad);
	border-bottom-left-radius: var(--border-rad);
}

cite {
	display: block;
	margin-top: 30px;
	text-indent: 0;
	text-align: center;
	font: bold .9rem var(--type-body);
	text-transform: uppercase;
	color: hsl(0 0% 20%);
}

@media (min-width: 768px) {
	cite {
		margin-left: calc(1rem - var(--quote-image-width));
	}
}

/* --- Welcome image --  */
@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Droid+Serif|Playfair+Display|Open+Sans+Condensed:300);

.quote--container *:after, .quote--container *:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.quote--container {
    font-family: 'EB Garamond';
    font-size: 32px;
    line-height: 1.4rem;
    height: 100%;
    padding: .5rem;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: auto;
     -webkit-font-smoothing: antialiased;
             font-smoothing: antialiased;
    font-kerning: normal;
    color: #1A222F;
}

.quote--container p {
    line-height: 1.4em;
}

.quote--container .quote {
    position: relative;
    letter-spacing: .03em;
    margin-bottom: .5rem;
    
    &:before {
        content: "“";
        position: absolute;
        left: -.7em;
    }
    
    &:after {
        content: "”";
        margin-right: -1rem;
    }
}

 .quote--container {
    margin: 4.5rem auto 0;
    width: 17em;
    border-bottom: 2px dotted #C6D1BF;
    padding-bottom: .5rem;
}

.quote--container .quote--highlight {
    color: #D24335;
}

.quote--container .quote--author {
    font-family: 'Open Sans Condensed';
    font-size: .8rem;
    text-align: right;
    font-weight: 300;
}