{% extends "base.html" %}
{% block content %}

<!-- Welcome image -->
<div class="welcome-image-text">
    <img src="static/images/authors_welcome_image.jpg" id="authors-welcome-img" alt="Library">
    <div class="text">
        Authors
    </div>
</div>
<!-- Search Bar -->
<div class="row authors-search-form">
    <form action="{{ url_for('search_authors', generated = "yes") }}" method="POST" class="col s12">
        <div class="authors-search wrap">
            <div class="search">
                <input type="text" name="query_author" id="query_author" placeholder="Search Authors">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<main class="container">
    <!-- Page Heading -->
    <div id="title" class="row">
        <!-- if logged in, user requested favourite authors and has favourite authors -->
        {% if session.user and get_fav == None and fav_authors2 %}
            <h2>{{ session['user'] }}'{% if session['user'][session['user']|length-1] != "s" %}s{% endif %} Favourite authors</h2>
            <h3 class="link-heading"><a href="{{ url_for('get_authors', get_fav = "No") }}">Discover authors here</a></h3>
        <!-- if searched -->
        {% elif url_for(request.endpoint) == url_for('search_authors') %}
            <h2>Results</h2>
        <!-- if discover is selected or user has no favourites -->
        {% elif not session.user or get_fav == "No" or not fav_authors2 %}
            <h2>Popular authors</h2>
            <!-- if user logged in and has favourite quotes -->
            {% if session.user and fav_authors2 %}
                <h3 class="link-heading">
                    <a href="{{ url_for('get_authors') }}">{{ session['user'] }}'{% if session['user'][session['user']|length-1] != "s" %}s{% endif %} Favourite Authors</a>
                </h3>
            {% endif %}
        {% endif %}
    </div>

    <!-- if search returns results -->
    {% if authors1.count() > 0 %}
    <div class="row">
        <!-- for each oject in authors -->
        {% for author in authors1 %}
        <!-- Desktop Author card section -->
        <!-- Acknowledge: https://codepen.io/tiggr/pen/MWyJJEz -->
        <div class="col s12 l5 m12">
            <div class="left-align article author-card">
                <blockquote class="author-blockquote">
                    <cite>
                        <a href="{{ url_for('author_profile', Author=author.Author) }}">{{ author.Author }}</a>
                    </cite>
                    <a href="{{ url_for('author_profile', Author=author.Author) }}">
                        <!-- if authors image store locate file path, else use avatar photo -->
                        <div class="blockquote-author-image" style="--image: url({% if author.image %}{{ author.image }}{% else %}/static/images/authors/avatar_icon.jpg{% endif %})">
                        </div>
                    </a>
                    <!-- Favourite star -->
                    <div class="star">
                        <form>
                            {% if session.user %}
                            <label for="dsk-id-of-input{{ author._id }}_{{ session['user'] }}" class="custom-checkbox">
                                <input type="checkbox" id="dsk-id-of-input{{ author._id }}_{{ session['user'] }}"
                                    name="dsk-id-of-input{{ author._id }}_{{ session['user'] }}"
                                    class="logged-in-author-input"
                                    {% for x in fav_authors2 if x|string == author._id|string %} checked {% else %}
                                    unchecked {% endfor %} />
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star"></i>
                            </label>
                            {% else %}
                            <label for="dsk-id-of-input{{ author._id }}" class="custom-checkbox">
                                <input type="checkbox" id="dsk-id-of-input{{ author._id }}"
                                    name="dsk-id-of-input{{ author._id }}" class="logged-out-author-input" />
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star"></i>
                            </label>
                            {% endif %}
                        </form>
                    </div>
                </blockquote>
            </div>
        </div>
        <!-- loop to enter spacing for every odd entry -->
        <!-- Acknowledge: https://stackoverflow.com/questions/7537439/how-to-increment-a-variable-on-a-for-loop-in-jinja-template -->
        {% if loop.index % 2 != 0 %}
            <div class="hide-on-small-only col l2"></div>
        {% endif %}
        {% endfor %}
    </div>
    <!-- Authors Pagination -->
    <!-- Acknowledge: https://stackoverflow.com/questions/58031816/how-to-display-active-bootstrap-pagination-using-jinja-conditional -->
    <!-- if not searched for users favourites -->
    {% if get_fav == None %}
    <ul class="pagination center-align">
        <li class="{% if  page < 2 %}disabled{% endif %}">
            <a href="{{ url_for('get_authors', page = page - 1, _anchor='title') }}">
                <i class="fas fa-arrow-left"></i>
            </a>
        </li>
        {% for p in pages %}
            {% if  p == page  %}
            <li class="active">
                <a href="{{ url_for('get_authors', page = p, _anchor='title') }}">{{ p }}</a>
            </li>
            {% else %}
            <li class="">
                <a href="{{ url_for('get_authors', page = p, _anchor='title') }}">{{ p }}</a>
            </li>
            {% endif %}
        {% endfor %}
        <li class="{% if  page >= final_page %}disabled{% endif %}">
            <a href="{{ url_for('get_authors', page = page + 1, _anchor='title') }}">
                <i class="fas fa-arrow-right"></i>
            </a>
        </li>
    </ul>
    <!-- If searched results -->
    {% elif searched %}
    <ul class="pagination center-align">
        <li class="{% if  page < 2 %}disabled{% endif %}">
            <a href="{{ url_for('search_authors', page = page - 1, query_author=query_author, _anchor='title') }}">
                <i class="fas fa-arrow-left"></i>
            </a>
        </li>
        {% for p in pages %}
            {% if  p == page  %}
            <li class="active">
                <a href="{{ url_for('search_authors', page = p, query_author=query_author, _anchor='title') }}">{{ p }}</a>
            </li>
            {% else %}
            <li class="">
                <a href="{{ url_for('search_authors', page = p, query_author=query_author, _anchor='title') }}">{{ p }}</a>
            </li>
            {% endif %}
        {% endfor %}
        <li class="{% if  page >= final_page %}disabled{% endif %}">
            <a href="{{ url_for('search_authors', page = page + 1, query_author=query_author, _anchor='title') }}">
                <i class="fas fa-arrow-right"></i>
            </a>
        </li>
    </ul>
    {% else %}
    <ul class="pagination center-align">
        <li class="{% if  page < 2 %}disabled{% endif %}">
            <a href="{{ url_for('get_authors', get_fav = "No", page = page - 1, _anchor='title') }}">
                <i class="fas fa-arrow-left"></i>
            </a>
        </li>
        {% for p in pages %}
            {% if  p == page  %}
            <li class="active">
                <a href="{{ url_for('get_authors', get_fav = "No", page = p, _anchor='title') }}">{{ p }}</a>
            </li>
            {% else %}
            <li class="">
                <a href="{{ url_for('get_authors', get_fav = "No", page = p, _anchor='title') }}">{{ p }}</a>
            </li>
            {% endif %}
        {% endfor %}
        <li class="{% if  page >= final_page %}disabled{% endif %}">
            <a href="{{ url_for('get_authors', get_fav = "No", page = page + 1, _anchor='title') }}">
                <i class="fas fa-arrow-right"></i>
            </a>
        </li>
    </ul>
    {% endif %}
    <!-- if search returns no results -->
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}
</main>
{% endblock %}
{% block scripts %}
<script>
    // Script functions below related to actions when favourite star is checked

    // Acknowledge: https://materializecss.com/toasts.html
    // Acknowledge: https://www.tutorialrepublic.com/faq/how-to-check-a-checkbox-is-checked-or-not-using-jquery.php
    // Acknowledge: https://stackoverflow.com/questions/33566041/materialize-css-change-position-of-toast-dialog

    // if logged in
    $('input[class=logged-in-author-input]').change(function () {
        // if checked/liked
        if ($(this).prop("checked") == true) {
            M.toast({ html: 'Added to Favourites' });
        }
        // if unchecked/removed
        else if ($(this).prop("checked") == false) {
            M.toast({ html: 'Removed from Favourites' });
        }
        // send info to update db
        var checkbox_id = $(this).attr("id");
        $.ajax({
            url: "{{ url_for('add_fav_author') }}",
            type: "POST",
            data: {
                'Checkbox': checkbox_id,
                'Status': $(this).prop("checked")
            },
            success: function (response) {
            },
            error: function (request, status, error) {
                console.log("Error: " + error)
            }
        }
        );
    });
    // if logged out
    $('input[class=logged-out-author-input]').change(function (e) {
        if (e.target.checked) {
            alert("Please login or register to save favourites");
        }
    });
</script>
{% endblock %}