{% extends "base.html" %}
{% block content %}
<main class="container">
    <div class="desktop-author-details hide-on-small-only">
        <div class="row">
            <div class="col l2">
                <h2>{{ author.Author }}</h2>
            </div>
            <div class="col l2 indiv-author-star">
                <form>
                    {% if session.user %}
                    <label for="dsk-id-of-input{{ author._id }}_{{ session['user'] }}" class="custom-checkbox">
                        <input type="checkbox" id="dsk-id-of-input{{ author._id }}_{{ session['user'] }}"
                            name="dsk-id-of-input{{ author._id }}_{{ session['user'] }}"
                            category="logged-in-author-input"
                            {% for x in fav_authors2 if x|string == author._id|string %} checked {% else %} unchecked
                            {% endfor %} />
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </label>
                    {% else %}
                    <label for="dsk-id-of-input{{ author._id }}" class="custom-checkbox">
                        <input type="checkbox" id="dsk-id-of-input{{ author._id }}"
                            name="dsk-id-of-input{{ author._id }}" category="logged-out-author-input" />
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </label>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col l3">
                <div id="circle-container">
                    <div class="profile-image" style="background: url({% if author.image %}{{ author.image }}{% else %}/static/images/authors/avatar_icon.jpg{% endif %}) no-repeat top center;">
                    </div>
                </div>
            </div>
            <!-- no categories https://8080-blue-guppy-lje8d91l.ws-eu03.gitpod.io/author_profile/Debasish%20Mridha -->
            <div class="col l1"></div>
            {% if author.Categories %}
            <div class="col l8 user-details-dsk">
                <h3><b>Categories:</b></h3>
                <p>{% for category in author.Categories %}{{ category }}, {% endfor %}</p>
            </div>
            {% endif %}
            {% if author.Books %}
            <div class="col l1"></div>
            <h3 class="book-heading"><b>Books:</b></h3>
            {% endif %}
            <div class="row">
                <div class="col l1"></div>

                {% for book in author.Books %}<div class="col l2 author-book-entries"><a
                        href="{{ url_for('book_profile', Book= book) }}"><i
                            class="fas fa-book fa-5x {% if loop.index % 8 == 0 %}teal-book{% elif loop.index % 7 == 0 %}red-book{% elif loop.index % 6 == 0 %}orange-book{% elif loop.index % 5 == 0 %}green-book{% elif loop.index % 4 == 0 %}purple-book{% elif loop.index % 3 == 0 %}lavender-book{% elif loop.index % 2 == 0 %}brown-book{% elif loop.index % 1 == 0 %}blue-book{% endif %}"></i>

                        <p class="book-title">{{ book }}</p>
                    </a>
                </div>{% endfor %}
            </div>
        </div>

    </div>
    <div class="row mobile-author-details hide-on-med-and-up">
        <div class="flexbox">
            <div class="col s3"></div>
            <div class="col s6">
                <h2>{{ author.Author }}</h2>
            </div>
            <div class="col s3 indiv-author-star">
                <form>
                    {% if session.user %}
                    <label for="dsk-id-of-input{{ author._id }}_{{ session['user'] }}" class="custom-checkbox">
                        <input type="checkbox" id="dsk-id-of-input{{ author._id }}_{{ session['user'] }}"
                            name="dsk-id-of-input{{ author._id }}_{{ session['user'] }}"
                            category="logged-in-author-input"
                            {% for x in fav_authors2 if x|string == author._id|string %} checked {% else %} unchecked
                            {% endfor %} />
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </label>
                    {% else %}
                    <label for="dsk-id-of-input{{ author._id }}" class="custom-checkbox">
                        <input type="checkbox" id="dsk-id-of-input{{ author._id }}"
                            name="dsk-id-of-input{{ author._id }}" category="logged-out-author-input" />
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </label>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div id="circle-container">
                    <div class="profile-image"
                    style="background: url({% if author.image %}{{ author.image }}{% else %}/static/images/authors/avatar_icon.jpg{% endif %}) no-repeat top center;">
                    </div>
                </div>
            </div>
        </div>

        <div class="user-details-mob col s12">
            <h3><b>Name:</b></h3>
            <p>{{ author.Author }}<br /></p>
            {% if author.Categories %}
            <h3><b>Categories:</b></h3>
            <p>{% for category in author.Categories %}{{ category }}, {% endfor %}</p>
        </div>

        {% endif %}
        {% if author.Books %}
        <h3 class="book-heading"><b>Books</b></h3>
        <div class="row">
        {% endif %}
            {% for book in author.Books %}<div class="col s4 author-book-entries"><a
                    href="{{ url_for('book_profile', Book= book) }}"><i
                        class="fas fa-book fa-5x {% if loop.index % 8 == 0 %}teal-book{% elif loop.index % 7 == 0 %}red-book{% elif loop.index % 6 == 0 %}orange-book{% elif loop.index % 5 == 0 %}green-book{% elif loop.index % 4 == 0 %}purple-book{% elif loop.index % 3 == 0 %}lavender-book{% elif loop.index % 2 == 0 %}brown-book{% elif loop.index % 1 == 0 %}blue-book{% endif %}"></i>

                    <p class="book-title">{{ book }}</p>
                </a>
            </div>{% endfor %}
        </div>

    </div>
    <div class="row">
        <!-- <div class="col s12 m8 offset-m2"> -->
        <h2>{{ author.Author }}'s Quotes</h2>
        <!-- </div> -->
    </div>
    <div class="row">
        <div class="flexbox">
            {% for quote in quotes %}

            <!-- https://stackoverflow.com/questions/36674846/how-can-i-check-if-some-checkboxes-in-html-are-checked -->
            <!-- https://codepen.io/tiggr/pen/MWyJJEz -->

            <article class="hide-on-small-only article">
                <blockquote class="quote-blockquote">
                    <p>{{ quote.Quote }}
                    </p>
                    <cite>{{ quote.Author }}</cite>
                    <div id="{{ quote._id }}" onclick="shareQuote(this.id)">
                        <i class="share-quote fas fa-link"></i></div>
                    <div class="blockquote-author-image"
                        style="--image: url({% if quote.image %}{{ quote.image }}{% else %}/static/images/authors/avatar_icon.jpg{% endif %})">
                    </div>
                    <div class="star">
                        <form>
                            {% if session.user %}
                            <label for="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}" class="custom-checkbox">
                                <input type="checkbox" id="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}"
                                    name="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}"
                                    category="logged-in-quote-input"
                                    {% for x in fav_quotes2 if x|string == quote._id|string %} checked {% else %}
                                    unchecked {% endfor %} />
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star"></i>
                            </label>
                            {% else %}
                            <label for="dsk-id-of-input{{ quote._id }}" class="custom-checkbox">
                                <input type="checkbox" id="dsk-id-of-input{{ quote._id }}"
                                    name="dsk-id-of-input{{ quote._id }}" category="logged-out-quote-input" />
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star"></i>
                            </label>
                            {% endif %}
                        </form>
                    </div>
                </blockquote>
            </article>

            <!-- https://codepen.io/chris22smith/pen/oQWavL -->

            <div class="hide-on-med-and-up animated-border-quote">
                <blockquote>
                    <p>{{ quote.Quote }}</p>
                    <div id="{{ quote._id }}" onclick="shareQuote(this.id)">
                        <i class="share-quote-mob share-quote fas fa-link"></i></div>
                    <cite>{{ quote.Author }}</cite>
                    <div class="star">
                        {% if session.user %}
                        <label for="mob-id-of-input{{ quote._id }}_{{ session['user'] }}" class="custom-checkbox">
                            <input type="checkbox" id="mob-id-of-input{{ quote._id }}_{{ session['user'] }}"
                                name="mob-id-of-input{{ quote._id }}_{{ session['user'] }}"
                                category="logged-in-quote-input"
                                {% for x in fav_quotes2 if x|string == quote._id|string %} checked {% else %} unchecked
                                {% endfor %} />
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </label>
                        {% else %}
                        <label for="mob-id-of-input{{ quote._id }}" class="custom-checkbox">
                            <input type="checkbox" id="mob-id-of-input{{ quote._id }}"
                                name="mob-id-of-input{{ quote._id }}" category="logged-out-quote-input" />
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </label>
                        {% endif %}
                    </div>
                </blockquote>
            </div>


            {% endfor %}
        </div>
    </div>
    <ul class="pagination center-align">
        <li class="{% if  page < 2 %}disabled{% endif %}"><a
                href="{% if  page < 2 %}{% else %}{{ url_for('author_profile', Author=author.Author, page = page - 1) }}{% endif %}"><i
                    class="material-icons">chevron_left</i></a></li>
        {% for p in pages %}
        {% if  p == page  %}
        <li class="active">
            <a href="{{ url_for('author_profile', Author=author.Author, page = p) }}">{{ p }}</a>
        </li>
        {% else %}
        <li class="">
            <a href="{{ url_for('author_profile', Author=author.Author, page = p) }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="{% if  page >= final_page %}disabled{% endif %}"><a
                href="{% if  page >= final_page %}{% else %}{{ url_for('author_profile', Author=author.Author, page = page + 1) }}{% endif %}"><i
                    class="material-icons">chevron_right</i></a></li>
    </ul>

    <div class="row">
        <h2>Similar Authors</h2>
    </div>

    <div class="row">
        {% set count = [] %}
        {% for similar_author in similar_authors %}
        {% if similar_author.Author != author.Author %}
        <div class="col l5 s12 m12">
            <!-- https://codepen.io/tiggr/pen/MWyJJEz -->
            <article class="left-align article author-card">
                <blockquote class="author-blockquote">
                    <cite><a
                            href="{{ url_for('author_profile', Author=similar_author.Author) }}">{{ similar_author.Author }}</a></cite>
                    <!-- {% if similar_author.Books[0] != '' %}
                        <p>Books: 
                            {% for item in similar_author.Books %}
                            {{ item }}</p>
                        {% endfor %}
                    {% endif %} -->
                    <div class="blockquote-author-image"
                        style="--image: url({% if similar_author.image %}{{ similar_author.image }}{% else %}/static/images/authors/avatar_icon.jpg{% endif %})">
                    </div>
                    <div class="star">
                        <form>
                            {% if session.user %}
                            <label for="dsk-id-of-input{{ similar_author._id }}_{{ session['user'] }}"
                                class="custom-checkbox">
                                <input type="checkbox"
                                    id="dsk-id-of-input{{ similar_author._id }}_{{ session['user'] }}"
                                    name="dsk-id-of-input{{ similar_author._id }}_{{ session['user'] }}"
                                    category="logged-in-author-input"
                                    {% for x in fav_authors2 if x|string == similar_author._id|string %} checked
                                    {% else %} unchecked {% endfor %} />
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star"></i>
                            </label>
                            {% else %}
                            <label for="dsk-id-of-input{{ similar_author._id }}" class="custom-checkbox">
                                <input type="checkbox" id="dsk-id-of-input{{ similar_author._id }}"
                                    name="dsk-id-of-input{{ similar_author._id }}" category="logged-out-author-input" />
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star"></i>
                            </label>
                            {% endif %}
                        </form>
                    </div>
                </blockquote>
            </article>
        </div>

        <!-- https://stackoverflow.com/questions/7537439/how-to-increment-a-variable-on-a-for-loop-in-jinja-template -->
        {% set __ = count.append(1) %}
        {% if count|length % 2 != 0 %}
        <div class="hide-on-small-only col l2"></div>
        {% endif %}
        {% endif %}
        {% else %}
        {% endfor %}
    </div>

    <div class="row">
        <h2>Comments</h2>
    </div>
    <div class="row">
        <form class="col s12" {% if session.user %} method="POST" action="{{ url_for('comment', Author=author.Author, section="authors") }}"{% else %}{% endif %}>
            <div class="row">
                <div class="input-field col s10">
                    <i class="material-icons prefix">mode_edit</i>
                    <!-- <input id="icon_prefix2" class="materialize-textarea">
                    <label for="icon_prefix2">Write a public comment</label> -->

                    <input id="comment" name="comment" type="text" class="materialize-textarea validate" required>
                    <label for="comment">Write a public comment</label>
                </div>
                <div class="input-field col s2">
                    <button id="post-button" class="btn waves-effect waves-light" {% if session.user %}type="submit" name="action"{% else %}type="button" onclick="commentLogin()"{% endif %}>Post
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% if author.Comments %}
    {% for comment in author.Comments|sort(reverse=true,attribute='date')  %}
    <!-- posts -->
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ comment.user }}</span>
            <b>
                <p>{{ comment.date }}</p>
            </b>

            <p>{{ comment.text }}</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No comments made yet</h3>
    {% endif %}
</main>
{% endblock %}
{% block scripts %}
<script>
    $('input[category=logged-in-quote-input]').change(function () {
        if ($(this).prop("checked") == true) {
            M.toast({ html: 'Added to Favourites' });
        }
        else if ($(this).prop("checked") == false) {
            M.toast({ html: 'Removed from Favourites' });
        }
        var checkbox_id = $(this).attr("id");
        console.log("JS Post");
        $.ajax({
            url: "{{ url_for('add_fav_quote') }}",
            type: "POST",
            data: {
                'Checkbox': checkbox_id,
                'Status': $(this).prop("checked")
            },
            success: function (response) {
                console.log(checkbox_id)
            },
            error: function (request, status, error) {
                console.log("Error: " + error)
            }
        }
        );
    });
    $('input[category=logged-out-quote-input]').change(function (e) {
        console.log("logged out fav");
        if (e.target.checked) {
            alert("Please login or register to save favourites");
        }
    });
    $('input[category=logged-in-author-input]').change(function () {
        if ($(this).prop("checked") == true) {
            M.toast({ html: 'Added to Favourites' });
        }
        else if ($(this).prop("checked") == false) {
            M.toast({ html: 'Removed from Favourites' });
        }
        var checkbox_id = $(this).attr("id");
        console.log("JS Post");
        $.ajax({
            url: "{{ url_for('add_fav_author') }}",
            type: "POST",
            data: {
                'Checkbox': checkbox_id,
                'Status': $(this).prop("checked")
            },
            success: function (response) {
                console.log(checkbox_id)
            },
            error: function (request, status, error) {
                console.log("Error: " + error)
            }
        }
        );
    });
    $('input[category=logged-out-author-input]').change(function (e) {
        console.log("logged out fav");
        if (e.target.checked) {
            alert("Please login or register to save favourites");
        }
    });
</script>
{% endblock %}