{% extends "base.html" %}
{% block content %}

    <h2>Mood Board</h2>

    <div class="row">
      <button id = "mood-button1" class="col 4 mood-button">friendship</button>
      <button id = "mood-button2" class="col 4 mood-button">inspirational</button>
      <button id = "mood-button3"  class="col 4 mood-button">truth</button>
      <button id = "mood-button4"  class="col 4 mood-button">knowledge</button>
    </div>

    <div class="row">
      <button id = "mood-button5"  class="col 4 mood-button">love</button>
      <button id = "mood-button6"  class="col 4 mood-button">forgiveness</button>
      <button id = "mood-button7"  class="col 4 mood-button">strategy </button>
      <button id = "mood-button8"  class="col 4 mood-button">art</button>
    </div>

<h3>Generating Quotes</h3>

{% endblock %}