{% extends "base.html" %}
{% block content %}
<main class="container">
    <h2>Mood Board</h2>

    <form method="POST" action="{{ url_for('generate_mood', generated = "yes") }}">
        <div class="row">
            <div class="col s1"></div>
            <input type="checkbox" class="hidden" name="mood-button" value="friendship"
                id="mood-button1_friendship" {% for x in checked_buttons if x|string == "friendship" %}checked{% else %}unchecked{% endfor %}><label id="label_friendship" class="hvr-radial-out col s5" for="mood-button1_friendship">
                   friendship</label>
            <input type="checkbox" class="hidden" name="mood-button" value="inspirational"
                id="mood-button2_inspirational" {% for x in checked_buttons if x|string == "inspirational" %}checked{% else %}unchecked{% endfor %}><label id="label_inspirational" class="hvr-radial-out col s5" for="mood-button2_inspirational">inspirational</label>
            <div class="col s1"></div>
            <input type="checkbox" class="hidden" name="mood-button" value="truth" id="mood-button3_truth" {% for x in checked_buttons if x|string == "truth" %}checked{% else %}unchecked{% endfor %}><label id="label_truth" class="hvr-radial-out col s5"
                for="mood-button3_truth">truth</label>
            <input type="checkbox" class="hidden" name="mood-button" value="knowledge"
                id="mood-button4_knowledge" {% for x in checked_buttons if x|string == "knowledge" %}checked{% else %}unchecked{% endfor %}><label id="label_knowledge" class="hvr-radial-out col s5" for="mood-button4_knowledge">knowledge</label>
            <div class="col s1"></div><input type="checkbox" class="hidden" name="mood-button" value="love" id="mood-button5_love" {% for x in checked_buttons if x|string == "love" %}checked{% else %}unchecked{% endfor %}><label id="label_love" class="hvr-radial-out col s5"
                for="mood-button5_love">love</label>
            <input type="checkbox" class="hidden" name="mood-button" value="forgiveness"
                id="mood-button6_forgiveness" {% for x in checked_buttons if x|string == "forgiveness" %}checked{% else %}unchecked{% endfor %}><label id="label_forgiveness" class="hvr-radial-out col s5" for="mood-button6_forgiveness">forgiveness</label>
            <div class="col s1"></div><input type="checkbox" class="hidden" name="mood-button" value="strategy"
                id="mood-button7_strategy"{% for x in checked_buttons if x|string == "strategy" %}checked{% else %}unchecked{% endfor %}><label id="label_strategy" class="hvr-radial-out col s5" for="mood-button7_strategy">strategy</label>
            <input type="checkbox" class="hidden" name="mood-button" value="art" id="mood-button8_art" {% for x in checked_buttons if x|string == "art" %}checked{% else %}unchecked{% endfor %}><label id="label_art" class="hvr-radial-out col s5"
                for="mood-button8_art">art</label>
        </div>

        <button id="generate-moods" class="btn waves-effect waves-light" type="submit" name="action">Generate Quotes
            <i class="material-icons right">sync</i>
            <!-- update track_changes sync -->
        </button>
    </form>


    {% for quote in quotes %}

    <!-- https://stackoverflow.com/questions/36674846/how-can-i-check-if-some-checkboxes-in-html-are-checked -->
    <!-- https://codepen.io/tiggr/pen/MWyJJEz -->
    <article class="hide-on-small-only article">
        <blockquote class="quote-blockquote">
            <p>{{ quote.Quote }}
            </p>
            <cite><a href="{{ url_for('author_profile', Author=quote.Author) }}">{{ quote.Author }}</a></cite>
            <!-- <cite>{{ quote.Tags[1] }} </cite> -->
            <div class="blockquote-author-image"
                style="--image: url('https://raw.githubusercontent.com/daithioc95/MS1/master/assets/images/logo.jpg')">
            </div>
            <div class="star">
                <form>
                    {% if session.user %}
                    <label for="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}"
                        class="indigo lighten-2 custom-checkbox">
                        <input type="checkbox" id="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}"
                            name="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}" category="logged-in-quote-input"
                            {% for x in fav_quotes2 if x|string == quote._id|string %} checked {% else %} unchecked
                            {% endfor %} />
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </label>
                    {% else %}
                    <label for="dsk-id-of-input{{ quote._id }}" class="indigo lighten-2 custom-checkbox">
                        <input type="checkbox" id="dsk-id-of-input{{ quote._id }}" name="dsk-id-of-input{{ quote._id }}"
                            category="logged-out-quote-input" />
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </label>
                    {% endif %}
                </form>
            </div>
        </blockquote>
    </article>

    <!-- https://codepen.io/chris22smith/pen/oQWavL -->

    <div class="hide-on-med-and-up animated-border-quote">
        <blockquote>
            <p>{{ quote.Quote }}</p>
            <cite><a href="{{ url_for('author_profile', Author=quote.Author) }}">{{ quote.Author }}</a></cite>
            <div class="star">
                {% if session.user %}
                <label for="mob-id-of-input{{ quote._id }}_{{ session['user'] }}"
                    class="indigo lighten-2 custom-checkbox">
                    <input type="checkbox" id="mob-id-of-input{{ quote._id }}_{{ session['user'] }}"
                        name="mob-id-of-input{{ quote._id }}_{{ session['user'] }}" category="logged-in-quote-input"
                        {% for x in fav_quotes2 if x|string == quote._id|string %} checked {% else %} unchecked
                        {% endfor %} />
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </label>
                {% else %}
                <label for="mob-id-of-input{{ quote._id }}" class="indigo lighten-2 custom-checkbox">
                    <input type="checkbox" id="mob-id-of-input{{ quote._id }}" name="mob-id-of-input{{ quote._id }}"
                        category="logged-out-quote-input" />
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </label>
                {% endif %}
            </div>
        </blockquote>
    </div>

    {% endfor %}

    {% if generated and search_tags %}
    <ul class="pagination center-align">
        <li class="{% if  page < 2 %}disabled{% endif %}"><a
                href="{{ url_for('generate_mood', page = page - 1, search_tags=search_tags ) }}"><i
                    class="fas fa-arrow-left"></i></a></li>
        {% for p in pages %}
        {% if  p == page  %}
        <li class="active">
            <a href="{{ url_for('generate_mood', page = p, search_tags=search_tags) }}">{{ p }}</a>
        </li>
        {% else %}
        <li class="">
            <a href="{{ url_for('generate_mood', page = p, search_tags=search_tags) }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="{% if  page >= final_page %}disabled{% endif %}"><a
                href="{{ url_for('generate_mood', page = page + 1, search_tags=search_tags ) }}"><i
                    class="fas fa-arrow-right"></i></a></li>
    </ul>
    {% endif %}

</main>
{% endblock %}
{% block scripts %}
<script>
    $('input[category=logged-in-quote-input]').change(function () {
        if ($(this).prop("checked") == true) {
            M.toast({ html: 'Added to Favourites' });
        }
        else if ($(this).prop("checked") == false) {
            M.toast({ html: 'Removed from Favourites' });
        }
        var checkbox_id = $(this).attr("id");
        console.log("JS Post");
        $.ajax({
            url: "{{ url_for('add_fav_quote') }}",
            type: "POST",
            data: {
                'Checkbox': checkbox_id,
                'Status': $(this).prop("checked")
            },
            success: function (response) {
                console.log(checkbox_id)
                if ($(this).prop("checked") == true) {
                    M.toast({ html: 'Added to Favourites' });
                }
                else if ($(this).prop("checked") == false) {
                    M.toast({ html: 'Removed from Favourites' });
                }
            },
            error: function (request, status, error) {
                console.log("Error: " + error)
            }
        }
        );
    });
    $('input[category=logged-out-quote-input]').change(function (e) {
        console.log("logged out fav");
        if (e.target.checked) {
            alert("Please login or register to save favourites");
        }
    });
</script>
{% endblock %}