{% extends "base.html" %}
{% block content %}
<main class="container">
    <!-------- desktop user details -------->
    <div class="desktop-author-details hide-on-small-only">
        <div class="row">
            <h2>{{ user.username }}'{% if user.username[user.username|length-1] != "s" %}s{% endif %} Profile</h2>
        </div>
        <div class="row">
            <div class="col l3">
                <!-- user profile image -->
                <div class="circle-container">
                    <div class="profile-image">
                    </div>
                </div>
            </div>
            <div class="col l1"></div>
            <!-- user details -->
            <div class="col l8 user-details-dsk">
                <h3><b>Name:</b></h3>
                <p>{{ user.username }}<br /></p>
                {% if user.email %}
                <h3><b>email:</b></h3>
                <p>{{ user.email }}<br /></p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Mobile user details -->
    <div class="row mobile-user-details hide-on-med-and-up">
        <h2>{{ user.username }}'{% if user.username[user.username|length-1] != "s" %}s{% endif %} Profile</h2>
        <div class="row">
            <!-- user profile image -->
            <div class="col s12">
                <div class="circle-container">
                    <div class="profile-image">
                    </div>
                </div>
            </div>
        </div>
        <!-- user details -->
        <div class="user-details-mob col s12">
            <h3><b>Name:</b></h3>
            <p>{{ user.username }}<br /></p>
            {% if user.email %}
            <h3><b>email:</b></h3>
            <p>{{ user.email }}<br /></p>
            {% endif %}
        </div>
    </div>
    <!-- users quotes -->
    <div class="row">
        <h2>{{ user.username }}'{% if user.username[user.username|length-1] != "s" %}s{% endif %} Favourite Quotes</h2>
    </div>
    <div class="row">
        <!-- if user has favourite quotes -->
        {% if quotes.count() > 0 %}
        <!-- for each oject in quotes -->
        {% for quote in quotes %}
        <!-------- Desktop Quote section -------->
        <!-- Acknowledge: https://codepen.io/tiggr/pen/MWyJJEz -->
        <div class="hide-on-small-only article">
            <blockquote class="quote-blockquote">
                <p>{{ quote.Quote }}
                </p>
                <div>
                    <!-- Share quote on clipboard function -->
                    <i id="dsk-{{ quote._id }}" onclick="shareQuote(this.id)" class="share-quote fas fa-link"></i></div>
                <cite>
                    <a href="{{ url_for('author_profile', Author=quote.Author) }}">{{ quote.Author }}</a>
                </cite>
                <a href="{{ url_for('author_profile', Author=quote.Author) }}">
                    <!-- if authors image store locate file path, else use avatar photo -->
                    <div class="blockquote-author-image"
                    style="--image: url({% if quote.image %}{{ quote.image }}{% else %}/static/images/authors/avatar_icon.jpg{% endif %})">
                    </div>
                </a>
                <!-- Favourite star -->
                <div class="star">
                    <form>
                        {% if session.user %}
                        <label for="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}" class="custom-checkbox">
                            <input type="checkbox" id="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}"
                                name="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}"
                                class="logged-in-quote-input" {% for x in fav_quotes2 if x|string == quote._id|string %}
                                checked {% else %} unchecked {% endfor %} />
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </label>
                        {% else %}
                        <label for="dsk-id-of-input{{ quote._id }}" class="custom-checkbox">
                            <input type="checkbox" id="dsk-id-of-input{{ quote._id }}"
                                name="dsk-id-of-input{{ quote._id }}" class="logged-out-quote-input" />
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </label>
                        {% endif %}
                    </form>
                </div>
            </blockquote>
        </div>

        <!-------- Mobile Quote section -------->
        <!-- Acknowledge: https://codepen.io/chris22smith/pen/oQWavL -->
        <div class="hide-on-med-and-up animated-border-quote">
            <blockquote>
                <p>{{ quote.Quote }}</p>
                <div>
                    <!-- Share quote on clipboard function -->
                    <i id="mob-{{ quote._id }}" onclick="shareQuote(this.id)"
                        class="share-quote-mob share-quote fas fa-link"></i></div>
                <!-- Author name -->
                <cite>
                    <a href="{{ url_for('author_profile', Author=quote.Author) }}">{{ quote.Author }}</a>
                </cite>
                <!-- Favourite star -->
                <div class="star">
                    {% if session.user %}
                    <label for="mob-id-of-input{{ quote._id }}_{{ session['user'] }}" class="custom-checkbox">
                        <input type="checkbox" id="mob-id-of-input{{ quote._id }}_{{ session['user'] }}"
                            name="mob-id-of-input{{ quote._id }}_{{ session['user'] }}" class="logged-in-quote-input"
                            {% for x in fav_quotes2 if x|string == quote._id|string %} checked {% else %} unchecked
                            {% endfor %} />
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </label>
                    {% else %}
                    <label for="mob-id-of-input{{ quote._id }}" class="custom-checkbox">
                        <input type="checkbox" id="mob-id-of-input{{ quote._id }}" name="mob-id-of-input{{ quote._id }}"
                            class="logged-out-quote-input" />
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </label>
                    {% endif %}
                </div>
            </blockquote>
        </div>
        {% endfor %}
        <!-- if user has no favourites saved -->
        {% else %}
        <h3 class="center-align">No Favourites Found</h3>
        {% endif %}
    </div>
    <div class="row">
        <h2>{{ user.username }}'{% if user.username[user.username|length-1] != "s" %}s{% endif %} Favourite Authors</h2>
    </div>
    <!-- if user has favourite authors -->
    {% if authors.count() > 0 %}
    <div class="row">
        <!-- for each oject in authors -->
        {% for author in authors %}
        <!-------- Author card section -------->
        <!-- Acknowledge: https://codepen.io/tiggr/pen/MWyJJEz -->
        <div class="col s12 l5 m12">
            <div class="left-align article author-card">
                <blockquote class="author-blockquote">
                    <cite>
                        <a href="{{ url_for('author_profile', Author=author.Author) }}">{{ author.Author }}</a>
                    </cite>
                    <a href="{{ url_for('author_profile', Author=author.Author) }}">
                        <!-- if authors image store locate file path, else use avatar photo -->
                        <div class="blockquote-author-image"
                            style="--image: url({% if author.image %}{{ author.image }}{% else %}/static/images/authors/avatar_icon.jpg{% endif %})">
                        </div>
                    </a>
                    <!-- Favourite star -->
                    <div class="star">
                        <form>
                            {% if session.user %}
                            <label for="dsk-id-of-input{{ author._id }}_{{ session['user'] }}" class="custom-checkbox">
                                <input type="checkbox" id="dsk-id-of-input{{ author._id }}_{{ session['user'] }}"
                                    name="dsk-id-of-input{{ author._id }}_{{ session['user'] }}"
                                    class="logged-in-author-input"
                                    {% for x in fav_authors2 if x|string == author._id|string %} checked {% else %}
                                    unchecked {% endfor %} />
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star"></i>
                            </label>
                            {% else %}
                            <label for="dsk-id-of-input{{ author._id }}" class="custom-checkbox">
                                <input type="checkbox" id="dsk-id-of-input{{ author._id }}"
                                    name="dsk-id-of-input{{ author._id }}" class="logged-out-author-input" />
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star"></i>
                            </label>
                            {% endif %}
                        </form>
                    </div>
                </blockquote>
            </div>
        </div>
        <!-- loop to enter spacing for every odd entry -->
        <!-- Acknowledge: https://stackoverflow.com/questions/7537439/how-to-increment-a-variable-on-a-for-loop-in-jinja-template -->
        {% if loop.index % 2 != 0 %}
        <div class="hide-on-small-only col l2"></div>
        {% endif %}
        {% endfor %}
    </div>
    <!-- if user has no favourites saved -->
    {% else %}
    <h3 class="center-align">No Favourites Found</h3>
    {% endif %}
    <div class="row">
        <h2>{{ user.username }}'{% if user.username[user.username|length-1] != "s" %}s{% endif %} Favourite Books</h2>
        <!-- if user has favourite authors -->
        {% if books.count() > 0 %}
        <!-- return each book -->
        {% for book in books %}
            <div class="col s4 l2 author-book-entries">
                <a href="{{ url_for('book_profile', Book= book.Book) }}">
                    <!-- give icon different color depending on order -->
                    <i class="fas fa-book fa-5x {% if loop.index % 8 == 0 %}teal-book{% elif loop.index % 7 == 0 %}red-book{% elif loop.index % 6 == 0 %}orange-book{% elif loop.index % 5 == 0 %}green-book{% elif loop.index % 4 == 0 %}purple-book{% elif loop.index % 3 == 0 %}lavender-book{% elif loop.index % 2 == 0 %}brown-book{% elif loop.index % 1 == 0 %}blue-book{% endif %}"></i>
                    <p class="book-title">
                        <!-- if book link over 50 characters, minimise -->
                        {% if book.Book|length < 50 %}{{ book.Book }}{% else %}{{ book.Book|truncate(50) }}...{% endif %}
                    </p>
                </a>
            </div>
        {% endfor %}
        <!-- if user has no favourites saved -->
        {% else %}
        <h3 class="center-align">No Favourites Found</h3>
        {% endif %}
    </div>
</main>
{% endblock %}
{% block scripts %}
<script>
    // Script functions below related to actions when favourite star is checked

    // Acknowledge: https://materializecss.com/toasts.html
    // Acknowledge: https://www.tutorialrepublic.com/faq/how-to-check-a-checkbox-is-checked-or-not-using-jquery.php
    // Acknowledge: https://stackoverflow.com/questions/33566041/materialize-css-change-position-of-toast-dialog

    // if logged in
    $('input[class=logged-in-quote-input]').change(function () {
        // if checked/liked
        if ($(this).prop("checked") == true) {
            M.toast({ html: 'Added to Favourites' });
        }
        // if unchecked/removed
        else if ($(this).prop("checked") == false) {
            M.toast({ html: 'Removed from Favourites' });
        }
        // send info to update db
        var checkbox_id = $(this).attr("id");
        $.ajax({
            url: "{{ url_for('add_fav_quote') }}",
            type: "POST",
            data: {
                'Checkbox': checkbox_id,
                'Status': $(this).prop("checked")
            },
            success: function (response) {
            },
            error: function (request, status, error) {
                console.log("Error: " + error)
            }
        }
        );
    });
    // if logged out
    $('input[class=logged-out-quote-input]').change(function (e) {
        if (e.target.checked) {
            // prompt user to login or register
            alert("Please login or register to save favourites");
        }
    });
    // if logged in
    $('input[class=logged-in-author-input]').change(function () {
        // if checked/liked
        if ($(this).prop("checked") == true) {
            M.toast({ html: 'Added to Favourites' });
        }
        // if unchecked/removed
        else if ($(this).prop("checked") == false) {
            M.toast({ html: 'Removed from Favourites' });
        }
        // send info to update db
        var checkbox_id = $(this).attr("id");
        $.ajax({
            url: "{{ url_for('add_fav_author') }}",
            type: "POST",
            data: {
                'Checkbox': checkbox_id,
                'Status': $(this).prop("checked")
            },
            success: function (response) {
            },
            error: function (request, status, error) {
                console.log("Error: " + error)
            }
        }
        );
    });
    // if logged out
    $('input[class=logged-out-author-input]').change(function (e) {
        if (e.target.checked) {
            alert("Please login or register to save favourites");
        }
    });
</script>
{% endblock %}