{% extends "base.html" %}
{% block content %}
<main class="container">

    <div class="desktop-author-details hide-on-small-only">
        <div class="row">
                <h2>{{ user.username }}'s Profile</h2>
        </div>
        <div class="row">
            <div class="col l3">
                <div id="circle-container">
                    <div class="profile-image">
                    </div>
                </div>
            </div>
            <!-- no categories https://8080-blue-guppy-lje8d91l.ws-eu03.gitpod.io/author_profile/Debasish%20Mridha -->
            <div class="col l1"></div>
            <div class="col l8 user-details-dsk">
                 <h3><b>Name:</b></h3>
                <p>{{ user.username }}<br /></p>
                {% if user.email %}
                    <h3><b>email:</b></h3>
                    <p>{{ user.email }}<br /></p>
                {% endif %}
            </div>
        </div>

    </div>



    <div class="row mobile-user-details hide-on-med-and-up">
                <h2>{{ user.username }}'s Profile</h2>
        <div class="row">
            <div class="col s12">
                <div id="circle-container">
                    <div class="profile-image">
                    </div>
                </div>
            </div>
        </div> 
            <div class="user-details-mob col s12">
                <h3><b>Name:</b></h3>
                <p>{{ user.username }}<br /></p>
                <h3><b>email:</b></h3>
                <p>Joebloggs@hotmail.com<br /></p>
            </div>
    </div>
    <!-- <div class="row">
        <h2>{{ username }}'s Profile</h2>
    </div>
    <div class="row">
        <div class="col s1">
        </div>
        <div class="col s4 m2 offset-m1">
            <div class="profile-image">
            </div>
        </div>
        <div class="col s1 m2">
        </div>
        <div class="user-details col s5">
            <p>username: {{ username }}<br /></p>
            <p>email: Joebloggs@hotmail.com</p>
        </div>
        <div class="col s1">
        </div>
    </div> -->
    <div class="row">
        <!-- <div class="col s12 m8 offset-m2"> -->
        <h2>{{ user.username }}'s Favourite Quotes</h2>
        <!-- </div> -->
    </div>
    <div class="row">

        {% if quotes.count() > 0 %}
        {% for quote in quotes %}

        <!-- https://stackoverflow.com/questions/36674846/how-can-i-check-if-some-checkboxes-in-html-are-checked -->
        <!-- https://codepen.io/tiggr/pen/MWyJJEz -->
        <article class="hide-on-small-only article">
            <blockquote class="quote-blockquote">
                <p>{{ quote.Quote }}
                </p>
                <div id="{{ quote._id }}" onclick="shareQuote(this.id)">
                <i class="share-quote fas fa-link"></i></div>
                <cite><a href="{{ url_for('author_profile', Author=quote.Author) }}">{{ quote.Author }}</a></cite>
                <div class="blockquote-author-image"
                    style="--image: url('https://raw.githubusercontent.com/daithioc95/MS1/master/assets/images/logo.jpg')">
                </div>
                <div class="star">
                    <form>
                        {% if session.user %}
                        <label for="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}"
                            class="custom-checkbox">
                            <input type="checkbox" id="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}"
                                name="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}"
                                category="logged-in-quote-input"
                                {% for x in fav_quotes2 if x|string == quote._id|string %} checked {% else %} unchecked
                                {% endfor %} />
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </label>
                        {% else %}
                        <label for="dsk-id-of-input{{ quote._id }}" class="custom-checkbox">
                            <input type="checkbox" id="dsk-id-of-input{{ quote._id }}"
                                name="dsk-id-of-input{{ quote._id }}" category="logged-out-quote-input" />
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star"></i>
                        </label>
                        {% endif %}
                    </form>
                </div>
            </blockquote>
        </article>

        <!-- https://codepen.io/chris22smith/pen/oQWavL -->

        <div class="hide-on-med-and-up animated-border-quote">
            <blockquote>
                <p>{{ quote.Quote }}</p>
                 <div id="{{ quote._id }}" onclick="shareQuote(this.id)">
                    <i class="share-quote-mob share-quote fas fa-link"></i></div>
                <cite><a href="{{ url_for('author_profile', Author=quote.Author) }}">{{ quote.Author }}</a></cite>
                <div class="star">
                    {% if session.user %}
                    <label for="mob-id-of-input{{ quote._id }}_{{ session['user'] }}"
                        class="custom-checkbox">
                        <input type="checkbox" id="mob-id-of-input{{ quote._id }}_{{ session['user'] }}"
                            name="mob-id-of-input{{ quote._id }}_{{ session['user'] }}" category="logged-in-quote-input"
                            {% for x in fav_quotes2 if x|string == quote._id|string %} checked {% else %} unchecked
                            {% endfor %} />
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </label>
                    {% else %}
                    <label for="mob-id-of-input{{ quote._id }}" class="custom-checkbox">
                        <input type="checkbox" id="mob-id-of-input{{ quote._id }}" name="mob-id-of-input{{ quote._id }}"
                            category="logged-out-quote-input" />
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </label>
                    {% endif %}
                </div>
            </blockquote>
        </div>


        {% endfor %}


        {% else %}
        <h3 class="red-text text-darken-4 center-align">No Favourites Found</h3>
        {% endif %}


    </div>

    <div class="row">
        <!-- <div class="col s12 m8 offset-m2"> -->
        <h2>{{ user.username }}'s Favourite Authors</h2>
        <!-- </div> -->
    </div>

        {% if authors.count() > 0 %}
    <div class="row">
        {% for author in authors %}
        <!-- https://codepen.io/tiggr/pen/MWyJJEz -->
        <div class="col s12 l5 m12">
            <article class="left-align article author-card">
                <blockquote class="author-blockquote">
                    <cite><a href="{{ url_for('author_profile', Author=author.Author) }}">{{ author.Author }}</a></cite>
                    <div class="blockquote-author-image"
                        style="--image: url('https://raw.githubusercontent.com/daithioc95/MS1/master/assets/images/logo.jpg')">
                    </div>
                    <div class="star">
                        <form>
                            {% if session.user %}
                            <label for="dsk-id-of-input{{ author._id }}_{{ session['user'] }}"
                                class="custom-checkbox">
                                <input type="checkbox" id="dsk-id-of-input{{ author._id }}_{{ session['user'] }}"
                                    name="dsk-id-of-input{{ author._id }}_{{ session['user'] }}"
                                    category="logged-in-author-input"
                                    {% for x in fav_authors2 if x|string == author._id|string %} checked {% else %}
                                    unchecked {% endfor %} />
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star"></i>
                            </label>
                            {% else %}
                            <label for="dsk-id-of-input{{ author._id }}" class="custom-checkbox">
                                <input type="checkbox" id="dsk-id-of-input{{ author._id }}"
                                    name="dsk-id-of-input{{ author._id }}" category="logged-out-author-input" />
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star"></i>
                            </label>
                            {% endif %}
                        </form>
                    </div>
                </blockquote>
            </article>
        </div>
        {% if loop.index % 2 != 0 %}
                <div class="hide-on-small-only col l2"></div>
        {% endif %}
        {% endfor %}

    </div>
    {% else %}
    <h3 class="red-text text-darken-4 center-align">No Favourites Found</h3>
    {% endif %}

<div class="row">

    {% if books %}
        <h2>{{ user.username }}'s Favourite Books</h2>
    {% endif %}

    {% for book in books %}<div class="col s4 l2 author-book-entries"><a
            href="{{ url_for('book_profile', Book= book.Book) }}"><i
                class="fas fa-book fa-5x {% if loop.index % 8 == 0 %}teal-book{% elif loop.index % 7 == 0 %}red-book{% elif loop.index % 6 == 0 %}orange-book{% elif loop.index % 5 == 0 %}green-book{% elif loop.index % 4 == 0 %}purple-book{% elif loop.index % 3 == 0 %}lavender-book{% elif loop.index % 2 == 0 %}brown-book{% elif loop.index % 1 == 0 %}blue-book{% endif %}"></i>

            <p class="book-title">{{ book.Book }}</p>
        </a>
    </div>{% endfor %}
</div>

</main>
{% endblock %}
{% block scripts %}
<script>
    $('input[category=logged-in-quote-input]').change(function () {
        if ($(this).prop("checked") == true) {
            M.toast({ html: 'Added to Favourites' });
        }
        else if ($(this).prop("checked") == false) {
            M.toast({ html: 'Removed from Favourites' });
        }
        var checkbox_id = $(this).attr("id");
        console.log("JS Post");
        $.ajax({
            url: "{{ url_for('add_fav_quote') }}",
            type: "POST",
            data: {
                'Checkbox': checkbox_id,
                'Status': $(this).prop("checked")
            },
            success: function (response) {
                console.log(checkbox_id)
            },
            error: function (request, status, error) {
                console.log("Error: " + error)
            }
        }
        );
    });
    $('input[category=logged-out-quote-input]').change(function (e) {
        console.log("logged out fav");
        if (e.target.checked) {
            alert("Please login or register to save favourites");
        }
    });
    $('input[category=logged-in-author-input]').change(function () {
        if ($(this).prop("checked") == true) {
            M.toast({ html: 'Added to Favourites' });
        }
        else if ($(this).prop("checked") == false) {
            M.toast({ html: 'Removed from Favourites' });
        }
        var checkbox_id = $(this).attr("id");
        console.log("JS Post");
        $.ajax({
            url: "{{ url_for('add_fav_author') }}",
            type: "POST",
            data: {
                'Checkbox': checkbox_id,
                'Status': $(this).prop("checked")
            },
            success: function (response) {
                console.log(checkbox_id)
            },
            error: function (request, status, error) {
                console.log("Error: " + error)
            }
        }
        );
    });
    $('input[category=logged-out-author-input]').change(function (e) {
        console.log("logged out fav");
        if (e.target.checked) {
            alert("Please login or register to save favourites");
        }
    });
</script>
{% endblock %}