{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="welcome-qotd">
        <blockquote class="qotd">{{ qotd.Quote }}</blockquote>
        <cite class="qotd">{{ qotd.Author }}</cite>
    </div>
</div>
<main class="container">

    <!-- embed https://codepen.io/JoeHastings/pen/MOdRVm -->

    <div class="row quotes-search-form">
        <form action="{{ url_for('search_quotes', generated = "yes") }}" method="POST" class="col s12">
            <div class="authors-search wrap">
                <div class="search">
                    <input type="text" name="query_quote" id="query_quote" placeholder="Search" minlength="3"
                        class="validate" required>
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row heading-row">
    {% if session.user and get_fav == None and fav_quotes2 %}
            <h2>{{ session['user'] }}'s favourite quotes</h2>
            <h3 class="link-heading"><a href="{{ url_for('get_quotes', get_fav = "No") }}">Discover quotes here</a></h3>
    {% elif url_for(request.endpoint) == url_for('search_quotes') %}
        <h2>Results</h2>
    {% elif get_fav == "No" or not fav_quotes2 %}
    <h2>Popular quotes</h2>
        {% if session.user and fav_quotes2 %}
        <h3 class="link-heading"><a href="{{ url_for('get_quotes') }}">{{ session['user'] }}'s favourite quotes</a></h3>
        {% endif %}
    {% endif %}
    </div>  
    {% if quotes.count() > 0 %}
    <div class="row">
    {% for quote in quotes %}

    <!-- https://stackoverflow.com/questions/36674846/how-can-i-check-if-some-checkboxes-in-html-are-checked -->
    <!-- https://codepen.io/tiggr/pen/MWyJJEz -->
<div class="hide-on-small-only col l12 m12"></div>
    <article class="hide-on-small-only article">
        
        <blockquote class="quote-blockquote">
            <p>{{ quote.Quote }}
            </p>
            <cite><a href="{{ url_for('author_profile', Author=quote.Author) }}">{{ quote.Author }}</a></cite>
            <div id="{{ quote._id }}" onclick="shareQuote(this.id)">
            <i class="share-quote fas fa-link"></i></div>
            <!-- <cite>{{ quote.Tags[1] }} </cite> -->
            <div class="blockquote-author-image"
                style="--image: url('https://raw.githubusercontent.com/daithioc95/MS1/master/assets/images/logo.jpg')">
            </div>
            <div class="star">
                <form>
                    {% if session.user %}
                    <label for="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}"
                        class="custom-checkbox">
                        <input type="checkbox" id="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}"
                            name="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}" category="logged-in-quote-input"
                            {% for x in fav_quotes2 if x|string == quote._id|string %} checked {% else %} unchecked
                            {% endfor %} />
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </label>
                    {% else %}
                    <label for="dsk-id-of-input{{ quote._id }}" class="custom-checkbox">
                        <input type="checkbox" id="dsk-id-of-input{{ quote._id }}" name="dsk-id-of-input{{ quote._id }}"
                            category="logged-out-quote-input" />
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </label>
                    {% endif %}
                </form>
            </div>
        </blockquote>
        
    </article>
</div>

    <!-- https://codepen.io/chris22smith/pen/oQWavL -->

    <div class="hide-on-med-and-up animated-border-quote">
        <blockquote>
            <p>{{ quote.Quote }}</p>
            <!-- https://www.w3schools.com/howto/howto_js_copy_clipboard.asp -->
            <div id="{{ quote._id }}" onclick="shareQuote(this.id)">
                    <i class="share-quote-mob share-quote fas fa-link"></i></div>
            <cite><a href="{{ url_for('author_profile', Author=quote.Author) }}">{{ quote.Author }}</a></cite>
            <div class="star">
                {% if session.user %}
                <label for="mob-id-of-input{{ quote._id }}_{{ session['user'] }}"
                    class="custom-checkbox">
                    <input type="checkbox" id="mob-id-of-input{{ quote._id }}_{{ session['user'] }}"
                        name="mob-id-of-input{{ quote._id }}_{{ session['user'] }}" category="logged-in-quote-input"
                        {% for x in fav_quotes2 if x|string == quote._id|string %} checked {% else %} unchecked
                        {% endfor %} />
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </label>
                {% else %}
                <label for="mob-id-of-input{{ quote._id }}" class="custom-checkbox">
                    <input type="checkbox" id="mob-id-of-input{{ quote._id }}" name="mob-id-of-input{{ quote._id }}"
                        category="logged-out-quote-input" />
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </label>
                {% endif %}
            </div>
        </blockquote>
    </div>

    
    {% endfor %}
    </div>
    {% if get_fav == None %}
    <!-- https://stackoverflow.com/questions/58031816/how-to-display-active-bootstrap-pagination-using-jinja-conditional -->
    <ul class="pagination center-align">
        <li class="{% if  page < 2 %}disabled{% endif %}"><a href="{% if  page < 2 %}{% else %}{{ url_for('get_quotes', page = page - 1) }}{% endif %}"><i
                    class="material-icons">chevron_left</i></a></li>
        {% for p in pages %}
        {% if  p == page  %}
        <li class="active">
            <a href="{{ url_for('get_quotes', page = p) }}">{{ p }}</a>
        </li>
        {% else %}
        <li class="">
            <a href="{{ url_for('get_quotes', page = p) }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="{% if  page >= final_page %}disabled{% endif %}"><a
                href="{% if  page >= final_page %}{% else %}{{ url_for('get_quotes', page = page + 1) }}{% endif %}"><i class="material-icons">chevron_right</i></a></li>
    </ul>
    {% elif searched %}
    <!-- https://stackoverflow.com/questions/58031816/how-to-display-active-bootstrap-pagination-using-jinja-conditional -->
    <ul class="pagination center-align">
        <li class="{% if  page < 2 %}disabled{% endif %}"><a
                href="{% if  page < 2 %}{% else %}{{ url_for('search_authors', page = page - 1, query_quote=query_quote) }}{% endif %}"><i
                    class="material-icons">chevron_left</i></a></li>
        {% for p in pages %}
        {% if  p == page  %}
        <li class="active">
            <a href="{{ url_for('search_quotes', page = p, query_quote=query_quote) }}">{{ p }}</a>
        </li>
        {% else %}
        <li class="">
            <a href="{{ url_for('search_quotes', page = p, query_quote=query_quote) }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="{% if  page >= final_page %}disabled{% endif %}"><a
                href="{% if  page >= final_page %}{% else %}{{ url_for('search_quotes', page = page + 1, query_quote=query_quote) }}{% endif %}"><i
                    class="material-icons">chevron_right</i></a></li>
    </ul>
    {% else %}
    <ul class="pagination center-align">
        <li class="{% if  page < 2 %}disabled{% endif %}"><a
                href="{% if  page < 2 %}{% else %}{{ url_for('get_quotes', get_fav = "No", page = page - 1) }}{% endif %}"><i
                    class="material-icons">chevron_left</i></a></li>
        {% for p in pages %}
        {% if  p == page  %}
        <li class="active">
            <a href="{{ url_for('get_quotes', get_fav = "No", page = p) }}">{{ p }}</a>
        </li>
        {% else %}
        <li class="">
            <a href="{{ url_for('get_quotes', get_fav = "No", page = p) }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="{% if  page >= final_page %}disabled{% endif %}"><a
                href="{% if  page >= final_page %}{% else %}{{ url_for('get_quotes', get_fav = "No", page = page + 1) }}{% endif %}"><i
                    class="material-icons">chevron_right</i></a></li>
    </ul>
    {% endif %}

    {% else %}
    <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}


</main>
{% endblock %}
{% block scripts %}
<script>
    // https://materializecss.com/toasts.html
    // https://www.tutorialrepublic.com/faq/how-to-check-a-checkbox-is-checked-or-not-using-jquery.php
    // https://stackoverflow.com/questions/33566041/materialize-css-change-position-of-toast-dialog
    $('input[category=logged-in-quote-input]').change(function () {
        if ($(this).prop("checked") == true) {
            M.toast({ html: 'Added to Favourites' });
        }
        else if ($(this).prop("checked") == false) {
            M.toast({ html: 'Removed from Favourites' });
        }
        var checkbox_id = $(this).attr("id");
        console.log("JS Post");
        $.ajax({
            url: "{{ url_for('add_fav_quote') }}",
            type: "POST",
            data: {
                'Checkbox': checkbox_id,
                'Status': $(this).prop("checked")
            },
            success: function (response) {
                console.log(checkbox_id)
            },
            error: function (request, status, error) {
                console.log("Error: " + error)
            }
        }
        );
    });
    $('input[category=logged-out-quote-input]').change(function (e) {
        console.log("logged out fav");
        if (e.target.checked) {
            alert("Please login or register to save favourites");
        }
    });
</script>
{% endblock %}