{% extends "base.html" %}
{% block content %}
<main class="container">

<!-- embed https://codepen.io/JoeHastings/pen/MOdRVm -->
<div class="row">
    <div class="welcome-qotd">
        <blockquote class="qotd">{{ qotd.Quote }}</blockquote>
        <cite class="qotd">{{ qotd.Author }}</cite>
    </div>
</div>

<div class="row card-panel grey lighten-5">
    <form action="{{ url_for('search_quotes') }}" method="POST" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label class="hide-on-small-only" for="query">Search quotes</label>
                <label class="hide-on-med-and-up" for="query">Search</label>
            </div>
            <div class="col s8 m4">
                <a href="{{ url_for('get_quotes') }}" class="reset btn text-shadow">Reset</a>
                <button type="submit" class="indigo lighten-2 btn text-shadow">
                    <i class="fas fa-search-left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>

<h2>Popular Quotes</h2>

<!-- Option4 -->
<!-- https://stackoverflow.com/questions/52665707/how-do-i-implement-a-like-button-function-to-posts-in-python-flask -->
    <!-- <label for="test_quote_star" class="indigo lighten-2 custom-checkbox">
        <a href="{{ url_for('add_fav_quote') }}">
        <i class="glyphicon glyphicon-star-empty"></i>
        <i class="glyphicon glyphicon-star"></i>
        </a>
    </label> -->

    <!-- Option 1 -->
<!-- <form action="{{ url_for('add_fav_quote') }}" method="POST"> -->
    <label for="test_quote_star" class="indigo lighten-2 custom-checkbox">
        <input type="checkbox" id="test_quote_star" name="test_quote_star"/>
        <i class="glyphicon glyphicon-star-empty"></i>
        <i class="glyphicon glyphicon-star"></i>
    </label>
<!-- </form> -->

{% if quotes.count() > 0 %}
{% for quote in quotes %}

<!-- https://stackoverflow.com/questions/36674846/how-can-i-check-if-some-checkboxes-in-html-are-checked -->
<!-- https://codepen.io/tiggr/pen/MWyJJEz -->
<article class="hide-on-small-only article">
    <blockquote>
        <p>{{ quote.Quote }}</p>
        <cite>{{ quote.Author }}</cite>
        <!-- <cite>{{ quote.Tags[1] }} </cite> -->
        <div class="blockquote-author-image"
            style="--image: url('https://raw.githubusercontent.com/daithioc95/MS1/master/assets/images/logo.jpg')">
        </div>
        <div class="star">
            <form>
                {% if session.user %}
                <label for="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}" class="indigo lighten-2 custom-checkbox">
                    <input type="checkbox" id="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}" name="dsk-id-of-input{{ quote._id }}_{{ session['user'] }}" category ="logged-in-quote-input"/>
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </label>
                {% else %}
                <label for="dsk-id-of-input{{ quote._id }}" class="indigo lighten-2 custom-checkbox">
                    <input type="checkbox" id="dsk-id-of-input{{ quote._id }}" name="dsk-id-of-input{{ quote._id }}" category ="logged-out-quote-input"/>
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </label>
                {% endif %}
            </form>
        </div>
    </blockquote>
</article>

<!-- https://codepen.io/chris22smith/pen/oQWavL -->

<div class="hide-on-med-and-up animated-border-quote">
    <blockquote>
        <p>{{ quote.Quote }}</p>
        <cite>{{ quote.Author }}</cite>
        <div class="star">
                {% if session.user %}
                <label for="mob-id-of-input{{ quote._id }}_{{ session['user'] }}" class="indigo lighten-2 custom-checkbox">
                    <input type="checkbox" id="mob-id-of-input{{ quote._id }}_{{ session['user'] }}" name="mob-id-of-input{{ quote._id }}_{{ session['user'] }}" category ="logged-in-quote-input"/>
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </label>
                {% else %}
                <label for="mob-id-of-input{{ quote._id }}" class="indigo lighten-2 custom-checkbox">
                    <input type="checkbox" id="mob-id-of-input{{ quote._id }}" name="mob-id-of-input{{ quote._id }}" category ="logged-out-quote-input"/>
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </label>
                {% endif %}
        </div>
    </blockquote>
</div>


{% endfor %}

<!-- <ul class="pagination center-align">
    <li class="disabled"><a href="#!"><i class="fas fa-arrow-left"></i></a></li>
    <li class="active"><a href="{{ url_for('get_quotes', page = 1) }}">1</a></li>
    <li class="waves-effect"><a href="{{ url_for('get_quotes', page = 2) }}">2</a></li>
    <li class="waves-effect"><a href="{{ url_for('get_quotes', page = 3) }}">3</a></li>
    <li class="waves-effect"><a href="{{ url_for('get_quotes', page = 4) }}">4</a></li>
    <li class="waves-effect"><a href="{{ url_for('get_quotes', page = 5) }}">5</a></li>
    <li class="waves-effect"><a href="{{ url_for('get_quotes', page = 1) }}"><i class="fas fa-arrow-right"></i></a></li>
</ul> -->

<!-- https://stackoverflow.com/questions/58031816/how-to-display-active-bootstrap-pagination-using-jinja-conditional -->
<ul class="pagination center-align">
    <li class="{% if  page < 2 %}disabled{% endif %}"><a href="{{ url_for('get_quotes', page = page - 1) }}"><i class="fas fa-arrow-left"></i></a></li>
        {% for p in pages %}
            {% if  p == page  %}
            <li class="active">
                <a href="{{ url_for('get_quotes', page = p) }}">{{ p }}</a>
            </li>
            {% else %}
            <li class="">
                <a href="{{ url_for('get_quotes', page = p) }}">{{ p }}</a>
            </li>
            {% endif %}
        {% endfor %}
    <li class="{% if  page > final_page %}disabled{% endif %}"><a href="{{ url_for('get_quotes', page = page + 1) }}"><i class="fas fa-arrow-right"></i></a></li>
</ul>
  
{% else %}
<h3 class="red-text text-darken-4 center-align">No Results Found</h3>
{% endif %}

</main>
{% endblock %}
{% block scripts %}
<script>
    $('input[category=logged-in-quote-input]').change(function () {
        var checkbox_id = $(this).attr("id");
        // if ($(this).is(':checked')) {
            console.log("JS Post");
            $.ajax({
                url: "{{ url_for('add_fav_quote') }}",
                type: "POST",
                data: {'Checkbox': checkbox_id,
                        'Status': $(this).prop("checked")
                    },
                success: function (response) {
                    console.log(checkbox_id)
                },
                error: function (request, status, error) {
                    console.log("Error: " + error)
                }
            }
            );
        // }
});
</script>
{% endblock %}
